<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Order Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> </meta>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style>
        .errors{
            color:red;
        }
    </style>

</head>

<body>
<div th:include="header :: header"></div>
<div class="container">
    <div th:if="${not #lists.isEmpty(addresses)}">
        <table class="table table-stripped">
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Adres</th>
                <th>Kontakt</th>

            </tr>
            <tr th:each="address : ${addresses}">
                <td th:text="${address.id}"></td>
                <td th:text="${address.name}"></td>
                <td th:text="${address.place}"></td>
                <td th:text="${address.contact!=null} ? ${address.contact} : 'not specified'"></td>

            </tr>
        </table>
    </div>
    <!--guzik wstecz-->
    <a href="/" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-chevron-left"></span> Wstecz
    </a>
</div>


</body>
</html>