<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Order Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> </meta>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>


</head>
<body>
<div class="container-fluid">
    <div class="jumbotron text-left">
        <a href="/" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-chevron-left"></span> Wstecz
        </a>
        <h1>Dodaj dostawcę</h1>
    </div>
</div>
<div class="container">


<form action="#" th:action="@{/}" th:object="${supplierForm}" method="post">

    <div class="well">

    <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="usr">Nazwa:</label>
                    <input type="text" class="form-control" th:field="*{name}"  id="usr"/>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Title error message</td>
                </div>


            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="usr">Nazwa cd:</label>
                    <input type="text" class="form-control" th:field="*{name2}"  id="usr"/>
                    <td th:if="${#fields.hasErrors('name2')}" th:errors="*{name2}">Title error message</td>
                </div>
            </div>


    </div>


    <div class="row">

        <div class="col-sm-6">
            <div class="form-group">
                <label for="usr">NIP:</label>
                <input type="text" class="form-control" th:field="*{taxIdNumber}"  id="usr"/>
                <td th:if="${#fields.hasErrors('taxIdNumber')}" th:errors="*{taxIdNumber}">Title error message</td>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="usr">Adres:</label>
                <input type="text" class="form-control" th:field="*{address}"  id="usr"/>
                <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Title error message</td>
            </div>
        </div>


    </div>

    <div class="row">

        <div class="col-sm-4">
            <div class="form-group">
                <label for="usr">Kod pocztowy:</label>
                <input type="text" class="form-control" th:field="*{zipCode}"  id="usr"/>
                <td th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}">Title error message</td>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="usr">Miasto:</label>
                <input type="text" class="form-control" th:field="*{city}"  id="usr"/>
                <td th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Title error message</td>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="usr">Kraj:</label>
                <input type="text" class="form-control" th:field="*{country}"  id="usr"/>
                <td th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Title error message</td>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="usr">Osoba kontaktowa:</label>
                <input type="text" class="form-control" th:field="*{contactPerson}"  id="usr"/>
                <td th:if="${#fields.hasErrors('contactPerson')}" th:errors="*{contactPerson}">Title error message</td>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="usr">E-mail:</label>
                <input type="text" class="form-control" th:field="*{email}"  id="usr"/>
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Title error message</td>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="usr">Telefon:</label>
                <input type="text" class="form-control" th:field="*{phoneNumber}"  id="usr"/>
                <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Title error message</td>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-sm-4">

        </div>

        <div class="col-sm-4">
            <button type="submit" class="btn btn-success btn-block">ZAPISZ</button>
        </div>
    </div>
    </div>
</form>

</div>
</body>
</html>