<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Order Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </meta>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <style>
        .errors{
            color:red;
        }

    </style>

</head>

<body>


<div th:include="header :: header"></div>

<div class="container">
    <form action="#" th:action="@{/}" th:object="${supplierForm}" method="post">

        <div class="well">

            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name">Nazwa:</label>
                        <input type="text" class="form-control" th:field="*{name}" placeholder="Siemens" id="name"/>
                        <div class="errors" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Title error
                            message
                        </div>
                    </div>


                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name2">Nazwa cd:</label>
                        <input type="text" class="form-control" th:field="*{name2}"
                               placeholder="producent sterowników PLC" id="name2"/>
                        <div class="errors" th:if="${#fields.hasErrors('name2')}" th:errors="*{name2}">Title error
                            message
                        </div>
                    </div>
                </div>


            </div>


            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="taxIdNumber">NIP:</label>
                        <input type="text" class="form-control" th:field="*{taxIdNumber}" placeholder="123-456-78-90"
                               id="taxIdNumber"/>
                        <div class="errors" th:if="${#fields.hasErrors('taxIdNumber')}" th:errors="*{taxIdNumber}">Title
                            error message
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="address">Adres:</label>
                        <input type="text" class="form-control" th:field="*{address}" placeholder="Aleje Jerozolimskie"
                               id="address"/>
                        <div class="errors" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Title error
                            message
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="zipCode">Kod pocztowy:</label>
                        <input type="text" class="form-control" th:field="*{zipCode}" placeholder="xx-xxx"
                               id="zipCode"/>
                        <div class="errors" th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}">Title error
                            message
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="city">Miasto:</label>
                        <input type="text" class="form-control" th:field="*{city}" placeholder="Warszawa" id="city"/>
                        <div class="errors" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Title error
                            message
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="country">Kraj:</label>
                        <input type="text" class="form-control" th:field="*{country}" placeholder="Polska"
                               id="country"/>
                        <div class="errors" th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Title error
                            message
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="contactPerson">Osoba kontaktowa:</label>
                        <input type="text" class="form-control" th:field="*{contactPerson}" placeholder="Jan Kowalski"
                               id="contactPerson"/>
                        <div class="errors" th:if="${#fields.hasErrors('contactPerson')}" th:errors="*{contactPerson}">
                            Title error message
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input type="text" class="form-control" th:field="*{email}"
                               placeholder="jan.kowalski@trinitec.pl" id="email"/>
                        <div class="errors" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Title error
                            message
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="phoneNumber">Telefon:</label>
                        <input type="text" class="form-control " th:field="*{phoneNumber}" placeholder="+48 123-456-789"
                               id="phoneNumber"/>
                        <div class="errors" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Title
                            error message
                        </div>

                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-sm-4">

                </div>

                <div class="col-sm-4">
                    <button type="submit" class="btn btn-success btn-block">ZAPISZ</button>
                </div>
            </div>
        </div>
    </form>
    <!--guzik wstecz-->
    <a href="/" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-chevron-left"></span> Wstecz
    </a>
</div>
</body>
</html>