<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot and Thymeleaf example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h3>Dodaj dostawcę</h3>
<form action="#" th:action="@{/}" th:object="${supplierForm}" method="post">
    <table>
        <tr>
            <td>Nazwa:</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Title error message</td>
        </tr>
        <tr>
            <td>Nazwa cd:</td>
            <td><input type="text" th:field="*{name2}" /></td>
            <td th:if="${#fields.hasErrors('name2')}" th:errors="*{name2}">Content error message</td>
        </tr>
        <tr>
            <td>NIP:</td>
            <td><input type="text" th:field="*{taxIdNumber}" /></td>
            <td th:if="${#fields.hasErrors('taxIdNumber')}" th:errors="*{taxIdNumber}">Content error message</td>
        </tr>
        <tr>
            <td>Adres:</td>
            <td><input type="text" th:field="*{address}" /></td>
            <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Content error message</td>
        </tr>
        <tr>
            <td>Kod pocztowy:</td>
            <td><input type="text" th:field="*{zipCode}" /></td>
            <td th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}">Content error message</td>
        </tr>
        <tr>
            <td>Miasto:</td>
            <td><input type="text" th:field="*{city}" /></td>
            <td th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Content error message</td>
        </tr>
        <tr>
            <td>Kraj:</td>
            <td><input type="text" th:field="*{country}" /></td>
            <td th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Content error message</td>
        </tr>
        <tr>
            <td>Osoba kontaktowa:</td>
            <td><input type="text" th:field="*{contactPerson}" /></td>
            <td th:if="${#fields.hasErrors('contactPerson')}" th:errors="*{contactPerson}">Content error message</td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td><input type="text" th:field="*{email}" /></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Content error message</td>
        </tr>
        <tr>
            <td>Telefon:</td>
            <td><input type="text" th:field="*{phoneNumber}" /></td>
            <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Content error message</td>
        </tr>
        <tr>
            <td><button type="submit">Submit post</button></td>
        </tr>
    </table>
</form>
</body>
</html>